<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>displayall</title>
</head>
<body>
<h2>Employee List</h2>
<table border="1">
    <thead>
    <tr>

        <th>Employee Id</th>
        <th>Employee Name</th>
        <th>Employee Email</th>
        <th>Employee Location</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="emp:${displayall}">

            <td th:text="${emp.EmployeeId}"></td>
            <td th:text="${emp.EmployeeName}"></td>
            <td th:text="${emp.EmployeeEmail}"></td>
            <td th:text="${emp.EmployeeLocation}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>