<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Employee form</title>

</head>
<body>
<form th:action="@{/Employee}" th:object="${employee}" method="post">
  Employee Id: <input type="text" th:field="*{EmployeeId}" /><br>
  Employee Name : <input type="text" th:field="*{EmployeeName}" /><br>
  Employee Email: <input type="email" th:field="*{EmployeeEmail}" /><br>
  Employee Location: <input type="text" th:field="*{EmployeeLocation}" /><br>
  <button type="submit">Register</button>
</form>
<p th:text="${message}"></p>
</body>
</html>